 .topBar {
    margin: auto !important;
    font-weight: bold !important;
    font-size: large !important;
}
/*
.sapMInputBaseInner{
    width: 30% !important;
}
.mailInput {
	width: 200px !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
} */